body{
	height: 800;
	width: 600;
	margin: auto;
}
span.success{
	color: green;
}
a.cat{
	border: 1px solid black ;
	margin: 5px;
	
}
span.item{
	display: list-item;
}
li.price{
	background-color: red;
	te
}